<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="">
    
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/src/lorem.js" type="text/javascript"></script>
    <script src="js/src/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(e) {
            $('hero').load('single-card.html',function(){alert('loaded')});
        });
    </script>
</head>

<body>
<!--
    <h1 data-lorem="4-7w"></h1>
    <hr>
    <h2 data-lorem="4-7w"></h2>
    <hr>
    <h3 data-lorem="4-7w"></h3>
    <hr>
    <h4 data-lorem="4-7w"></h4>
    <hr>
    <h5 data-lorem="4-7w"></h5>
    <hr>
    <h6 data-lorem="4-7w"></h6>
    <hr>
    <p data-lorem="4-7w"></p>
    <hr>
-->
    
    <div id="grid-overlay">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    
    <section id="home-big">
        <!--=include individual-card.html -->
    </section>
    
    <section id="home-main">
        <div class="hero">
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/collection/234');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2> </div>
            </div>
        </div>
        <div class="grid">
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=727');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=127');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=157');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
        </div>
    </section>
    
    <section id="home-second">
        <div class="hero">
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=957');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
        </div>
        <div class="grid">
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=587');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=347');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=565');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=847');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
        </div>
    </section>
    
    <section id="home-third">
        <div class="hero">
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=452');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
        </div>
        <div class="grid">
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=846');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=385');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=946');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=381');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=639');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=634');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
        </div>
    </section>
    
    <section id="home-fourth">
        <div class="grid">
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=846');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=385');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=385');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=385');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=946');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=381');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=385');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=385');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
        </div>
        <div class="hero">
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=452');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=974');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=735');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=638');"></div>
                <div class="card-tags">
                    <time datetime="2017-06-01">September 01.</time>
                    <div class="card-likes">125</div>
                    <div class="card-category">Product Review</div>
                </div>
                <div class="card-title">
                    <h2><div data-lorem="4-7w"></div></h2></div>
            </div>
        </div>
        
    </section>
</body>

</html>