<div class="hero">
    <div class="card">
        <div class="card-image" style="background-image: url('https://source.unsplash.com/random?sig=177');"></div>
        <div class="card-tags">
            <time datetime="2017-06-01">September 01.</time>
            <div class="card-likes">125</div>
            <div class="card-category">Product Review</div>
        </div>
        <div class="card-title">
            <h2><strong>IIoT solution:</strong> Endress+Hauser, Pepperl+Funchs, Samson, Hilscher, and SAP</h2>
        </div>
    </div>
</div>